TASK_ID = "wJme8ZBopdCj54J556AxZeysBjDngnFbzDrKtJHg3E4"
DB_NAME = "Twitter"
COLLECTION_NAME = "tweets"
BATCH_SIZE = 10
WEB3_GET_STORAGE_KEYS="visit web3.storage"
USER_TOKEN=
KEY_WORD = ""
DB_KEY = mongodb://localhost:27017